<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="main">
            <h2>Task list</h2>
            <hr>
            <h3>Add task</h3>
            <input type="text" placeholder="New task..." v-model="task">
            <button v-on:click="addTask">Add task</button>
            <hr>
            <h4>To do list:</h4>
            <ul>
                <li v-for="incomplete in showIncomplete">
                    {{incomplete.title}}
                </li>
            </ul>
            <hr>
            <!-- <h4>Completed:</h4> -->
            <h4>Tasks by title</h4>
            <ul>
                <!-- <li v-for="complete in showCompleted">
                    {{complete.title}}
                </li> -->
                <li v-for="item in displayByTitle">
                    {{item.title}}
                </li>
            </ul>
        </div>
    </body>
    <script src="https://unpkg.com/vue@2.6.14"></script>
    <script src="main.js"></script>
</html>