<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intro Vue page</title>
    </head>
    <body>
        <div id="main" class="demo">
            <h1 v-if="online">You're online</h1>
            <p v-if="age >= 18">Are you 18+?</p>
            <p v-else>You can't see this content</p>
            <hr>
            <h2>Rendering lists</h2>
            <p>{{list}}</p>
            <ul>
                <li v-for="item in list">
                    {{item}}
                </li>
            </ul>
            <hr>
            <ul>
                <li v-for="item in peoplelist">
                    {{item.name}} - {{item.age}}
                </li>
            </ul>
        </div>
    </body>
    <script src="https://unpkg.com/vue@2.6.14"></script>
    <script src="main.js"></script>
</html>